::-webkit-scrollbar {
    width: 0px;
    background-color: #f9f9fd;
    padding-right: 20px;
  }
  
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(224, 160, 189);
    padding-right: 20px;
  }
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #f9f9fd;
    padding-right: 20px;
  }

  .crossed-line {
    text-decoration: line-through;
}
